@font-face {
    font-family: 'bookish';
    src: url(../fonts/Bookish-Book.ttf);
}

body {
    font-family: bookish;
}

#header-main{
    width: 100vw;
    height: 160px;
    background-color: white;
}

#header-logo-element{
    cursor: pointer;
}

#header-top-row{
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-bottom-row{
    height: 35px;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

#header-bottom-row a{
    padding: 7px;
    text-decoration: none;
    color: black;
}

#header-logo-element{
    width: 70px;
}

#header-contact-section{
    width: calc(1/3*100%);
}

#header-contact-element{
    margin-left: 30px;
    color: black;
    text-decoration: none;
}

#header-logo-section{
    width: calc(1/3*100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
#header-buttons-section{
    width: calc(1/3*100%);
}

#header-buttons-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

#header-buttons-section button{
    width: 60px;
    height: 60px;
    font-size: 30px;
    background-color: transparent;
    border: none;
    outline: none;
}

#header-buttons-section button:hover{
    color: rgb(68, 68, 68);
    cursor: pointer;
}

#header-buttons-section a{
    text-decoration: none;
    color: black;
    margin-right: 30px;
}