@font-face {
    font-family: 'bookish';
    src: url(../fonts/Bookish-Book.ttf);
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: bookish;
  }
  
  .sale-banner {
    color: black;
    height: 50px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid #000;
    box-shadow: #000 0px 0px 5px;
  }
  
  .text-container {
    position: absolute;
    white-space: nowrap;
    animation: moveText 25s linear infinite;
  }
  .text-container:hover {
    animation-play-state: paused;
  }
  
  .moving-text {
    font-size: 15px;
    margin-right: 10vw;
  }
  
  @keyframes moveText {
    0% {
      transform: translateX(100vw);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  #header-buttons-section {
    position: relative;
  }
  
  #header-search-button {
    z-index: 2;
  }
  
  .hidden {
    display: none;
  }
  
  #searchBar {
    position: absolute;
    top: 100%;
    right: 67px;
    width: 200px; /* Adjust this value to change the width of the search bar */
    z-index: 9999;
    /* Add your styles for the search bar here */
  }